* {
  overflow: hidden !important;
  cursor: none !important;
}
video.fullscreen {
  position: fixed !important;
  height: 100% !important;
  width: 100% !important;
  background: black !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  z-index: 999999 !important;
  opacity: 1 !important;
}
.manipulator {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 0;
}

.manipulator#small {
  right: 300px;
  background-color: orange;
}

.manipulator#medium {
  right: 200px;
  background-color: green;
}

.manipulator#large {
  right: 100px;
  background-color: blue;
}

.manipulator#xlarge {
  right: 0;
  background-color: yellow;
}

body.small {
  width: 320px !important;
}
body.medium {
  width: 640px !important;
}
body.large {
  width: 960px !important;
}
body.xlarge {
  width: 100% !important;
}
.ext-top-label {
  color: #10ff10;
  top: 45px;
  z-index: 99999999999;
  right: 75px;
  position: fixed;
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow: 0 0 6px black;
}
